bin
target
obj

*.pro


# qtcreator
*.user

# xcode + iOS
.DS_Store
xcuserdata
build
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.nib
*.swp
*.o
*~
*k
#*/
*.trans.pl

# SWI-Prolog pack status (generated at attach time)
libs/*/status.db

# Local scratch (not for commit)
tmp_libs_compare/


