*~
*.out
*.dat
*.fas
*.fasl
*.lx64fsl
*.lx32fsl
*.bc
sandbox/
ansi-aux-macros.fas
ansi-aux.fas
array-aux.fas
backquote-aux.fas
bit-aux.fas
ceiling-aux.fas
char-aux.fas
cl-symbols-aux.fas
compile-file-test-file-2.fas
compile-file-test-file-2a.fas
compile-file-test-file-3.fas
compile-file-test-file-4.fas
compile-file-test-file-5.fas
compile-file-test-file.fas
compile-file-test-lp.fas
compile-file-test-lp.lsp
compile-file-test-lp.out
cons-aux.fas
defclass-aux.fas
defgeneric-method-combination-aux.fas
define-condition-aux.fas
division-aux.fas
exp-aux.fas
fceiling-aux.fas
ffloor-aux.fas
file-that-was-renamed.txt
floor-aux.fas
foo.fasl
foo.lsp
foo.txt
foo.ufsl
fround-aux.fas
ftruncate-aux.fas
gcd-aux.fas
hash-table-aux.fas
ldtest.lsp
load-test-file-2.fas
numbers-aux.fas
package-aux.fas
packages-00.fas
pathnames-aux.fas
printer-aux.fas
random-aux.fas
reader-aux.fas
remove-aux.fas
remove-duplicates-aux.fas
roman-numerals.fas
round-aux.fas
rt.fas
scratch/
search-aux.fas
string-aux.fas
subseq-aux.fas
temp.dat
times-aux.fas
tmp.dat
tmp.dat.BAK
tmp.txt
tmp2.dat
truncate-aux.fas
types-aux.fas
